.skills{
    padding: 80px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--bg-color-1);
}
.skills img{
    width: 60px;
}
.contSkillimg{
    padding: 12px 12px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
}
    /* // DIVISION SKILL // */
.skillSec{
    width: 28%;
    padding: 15px 20px;
    margin: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--bg-color-1);
    font-weight: 500;
    transition: border 0.3s;
}
.skillSec:hover{
    border: solid 1px var(--primary-color);
}
.skill{
    font-size: 30px;
    margin: 10px 0px;
}
.skillDesc{
    text-align: justify;
    font-size: 14px;
}
.botonSelectSkill{
    display: none;
}
.selectorSkill{
    display: none;
}