.hero{
    display: flex;
    justify-content: space-between;
}
.divHero{
    padding: 60px 120px 0px 120px;
}
h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}
.descripcion{
    color: #59514f;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 500;
}
.imgFondoHero{
    width: 35%;
    height: 100%;
}