.header{
    width: 100%;
    padding: 26px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-1);
}
    /* // NAVBAR // */
.navbar{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: normal;
    transition: text-decoration 0.2s, font-weight 0.2s;
}
.navbar a:hover{
    font-weight: bold;
    text-decoration: underline;
}
    /* // BOTON BLANCO// */
.botonBlanco{
    padding: 8px 36px;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.3s, background-color 0.3s;
}
.botonBlanco:hover{
    color: var(--bg-color-1);
    background-color: rgba(256, 256, 256, 1);
    cursor: pointer;
}
    /* // BOTON MENU CELULARES // */
    .botonMenu{
        display: none;
    }