.about{
    padding: 0px 100px 40px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about img{
    width: 35%;
    margin:0px 20px 40px 80px;
}

    /* // TEXTO // */
.textAbout{
    width: 45%;
    padding: 10px 40px;
}
.about p{
    margin-bottom: 10px;
    line-height: 22px;
}
.a_margin{
    margin: 0px 22px;
}