.footer{
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-1);
    color: var(--secondary-color);
    font-size: 16px;
}
.botonVolver{
    padding: 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    color: var(--secondary-color);
    background-color: var(--bg-color-1);
    font-size: 14px;
    transition: color 0.3s, background-color 0.3s;
}
.botonVolver:hover{
    color: var(--bg-color-1);
    background-color: var(--secondary-color);
    cursor: pointer;
}