.portfolio{
    height: 100%;
    padding: 120px 120px 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    /* // TEXTO SUPERIOR // */
.portfolio-content{
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.portfolio-content p{
    width: 32%;
    margin: 0px 50px 0px 20px;
    text-align: justify;
}
.portfolio-content h2{
    width: 40%;
    margin: 0;
    text-align: left;
}
    /* SECCIONES CON PROYECTOS */
.proyecto{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 1px rgba(0, 0, 0, 0);
    color: var(--bg-color-1);
    text-decoration: none;
    transition: border 0.3s;
}
.proyecto:hover{
    border: solid 1px var(--bg-color-1);
    color: var(--primary-color);
}
.proyecto img{
    height: 100%;
    width: 45%;
}
.proyect-content{
    width: 40%;
    padding: 35px 15px 10px 15px;
}
.proyect-content h3{
    color: var(--bg-color-1);
    margin: 0;
}
.proyect-content > span{
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: 500;
}
    /* // SELECTORES PARA CELULAR // */
.selectoresProyecto{
    display: none;
}